@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Paytone+One&display=swap");
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メインビジュアル

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.mainvisual {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainvisual .mainvisual__img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}
.mainvisual .mainvisual__img img {
  width: 100%;
  height: 100dvh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: sepia(0.4);
  -webkit-filter: sepia(0.4);
}
.mainvisual .mainvisual__img.scroll-on {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
}
.mainvisual .sitename {
  font-size: clamp(3rem, 0.455rem + 12.73vw, 10rem);
  color: #fff;
  letter-spacing: 6px;
  max-width: calc(100% - 40px);
}

.index .mainvisual {
  height: 100dvh;
  margin-bottom: 20px;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

更新履歴

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.update {
  height: 140px;
  overflow-y: auto;
  padding: 20px 40px;
}

.update__item {
  display: flex;
  gap: 20px;
  padding: 8px 0;
}
.update__item:not(:last-child) {
  border-bottom: 2px solid #f4d75e;
}

/* スマホ */
@media screen and (max-width: 520px) {
  .update {
    padding: 10px 20px;
  }
  .update__item {
    flex-direction: column;
    gap: 4px;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

トピック一覧

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.topiclist__item {
  container-type: inline-size;
  margin-bottom: 40px;
}
.topiclist__item a {
  padding: 20px;
}
.topiclist__item:last-child {
  margin: 0;
}
.topiclist__item .grid {
  gap: 20px;
  text-decoration: none;
  align-items: flex-start;
}
.topiclist__item .grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.topiclist__item .grid p {
  margin: 0;
}

/* タブレット */
@media screen and (max-width: 1180px) {
  .topiclist__item a {
    padding: 0;
  }
}
@container (max-width: 600px) {
  .grid {
    gap: 10px;
    grid-template-columns: 1fr;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

 ABOUT

 －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ Profile －－－－－－－－－－*/
.profile__img {
  padding: 0 40px;
}
.profile__img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

LINK

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.linklist__item a {
  text-decoration: none;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

 CONTACT

 －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.mailform input {
  width: max(50%, 400px);
}
.mailform textarea {
  width: 100%;
}

/* タブレット、スマホ */
@media screen and (max-width: 768px) {
  .mailform input,
  .mailform textarea {
    max-width: 100%;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

 NOVEL

 －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－  小説一覧ページ －－－－－－－－－－*/
.novellist {
  margin-top: 20px;
}
.novellist.--2column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.novellist.--2column .novellist__item {
  margin: 0;
}
.novellist.--2column > :last-child {
  margin-bottom: 0;
}
.novellist.--2column .novellist__text {
  margin-left: 0px;
}
.novellist.--2column.list-number li {
  padding-left: 6.6rem;
}
@media screen and (max-width: 520px) {
  .novellist.--2column {
    grid-template-columns: 1fr;
  }
}

.novellist__item {
  margin-bottom: 40px;
  background: linear-gradient(180deg, #e9723d 0%, #e9723d 50%, #f4d75e 50%, #f4d75e 100%);
  background-size: 8px 100%;
  background-repeat: no-repeat;
  padding-left: 1.6em;
}
.novellist__item .grid {
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  gap: 20px;
  /* スマホ */
}
@media screen and (max-width: 520px) {
  .novellist__item .grid {
    gap: 10px;
  }
}
.novellist__item .flex {
  /* スマホ */
}
@media screen and (max-width: 520px) {
  .novellist__item .flex {
    gap: 10px;
  }
}

/* 小説のタイトル */
.novellist__title {
  font-size: clamp(1.6rem, 1.56rem + 0.2vw, 1.8rem);
  color: #0b7fab;
}

.short .novellist__title {
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
}

.novellist__title + * {
  margin-left: 20px;
}

/* 数字プラス小タイトルの数字の色 */
.novellist__number {
  color: #0b7fab;
  margin-right: 10px;
}

/* 短編小説の説明文 */
.novellist__text {
  display: block;
  font-size: 0.8em;
  margin: 10px;
  margin-left: 20px;
}

/*－－－－－－－－－－ 長編小説ページ －－－－－－－－－－*/
.longnovel .longnovel__title {
  margin: 100px 20px;
  width: -moz-min-content;
  width: min-content;
  word-break: keep-all;
  padding: 0;
  line-height: 1.4;
  font-weight: bold;
}
.longnovel .novellist .novellist__item {
  margin-bottom: 30px;
}
.longnovel .novellist > :last-child {
  margin-bottom: 0;
}
.longnovel .novellist.--2column .novellist__item {
  margin: 0;
}

/*－－－－－－－－－－ 小説のページ －－－－－－－－－－*/
.novelpage__inner {
  margin: auto;
  padding: 80px;
}

.novelpage__main {
  padding: 80px;
}

.novelpage__title {
  margin-bottom: 80px;
}

/* タブレット */
@media screen and (max-width: 1180px) {
  .novelpage__inner {
    padding: 0;
  }
  .novelpage__main {
    padding: 80px 20px;
  }
}
/* 前後ページへのナビ */
.pagenav {
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 80px 0;
}

.pagenav__item a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.pagenav__item a i {
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}
.pagenav__item a:hover i {
  opacity: 1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}
.pagenav__item.--prev a i {
  margin-right: 10px;
}
.pagenav__item.--prev a:hover i {
  transform: translateX(-6px);
  -webkit-transform: translateX(-6px);
  -moz-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  -o-transform: translateX(-6px);
}
.pagenav__item.--next a i {
  margin-left: 10px;
}
.pagenav__item.--next a:hover i {
  transform: translateX(6px);
  -webkit-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -o-transform: translateX(6px);
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

GALLERY

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.gallerylist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}

.gallerylist__item {
  width: calc((100% - 80px) / 5);
  height: auto;
}
@media screen and (max-width: 1180px) {
  .gallerylist__item {
    width: calc((100% - 60px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .gallerylist__item {
    width: calc((100% - 40px) / 3);
  }
}
@media screen and (max-width: 520px) {
  .gallerylist__item {
    width: calc((100% - 20px) / 2);
  }
}
.gallerylist__item a {
  position: relative;
  width: 100%;
  display: block;
}
.gallerylist__item a::before {
  content: "";
  display: block;
  padding-top: 100%;
  /*100%=親要素の横幅*/
}
.gallerylist__item a img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

COMIC

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ 漫画タイトル一覧ページ －－－－－－－－－－*/
.comiclist__item {
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}
.comiclist__item .comiclist__img {
  position: relative;
  width: 100%;
  height: 100%;
}
.comiclist__item .comiclist__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comiclist__item .comiclist__body .comiclist__title {
  color: #0b7fab;
  font-weight: bold;
}

/* スマホ */
@media screen and (max-width: 520px) {
  .comiclist__item {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .comiclist__item .comiclist__img img {
    position: relative;
    max-height: 40vh;
  }
  .comiclist__item .comiclist__body {
    padding-top: 0;
  }
  .comiclist__item .comiclist__body .comiclist__title {
    position: static;
    width: 100%;
    margin: 20px 0;
  }
}
/*－－－－－－－－－－ 漫画表紙ページ －－－－－－－－－－*/
/* メイン画像 */
.comic__mainvisual {
  position: relative;
  margin-bottom: 40px;
}

/* タイトル */
.comic__title {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em 0;
  font-size: clamp(2rem, 1.2rem + 4vw, 6rem);
  color: #fff;
  text-shadow: 0px 0px 6px #f4d75e;
  background-color: #f4d75e;
  word-break: keep-all;
}

/*－－－－－－－－－－ キャラクター紹介 －－－－－－－－－－*/
/* キャラクター名一覧 */
.charanamelist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.charanamelist .charanamelist__item {
  cursor: pointer;
}

/* キャラクタープロフィール部分 */
.charalist--3 {
  margin-bottom: 40px;
}
.charalist--3 .charalist__item {
  position: relative;
  height: 100%;
  display: none;
}
.charalist--3 .charalist__item .charalist__img {
  width: 40%;
  height: 100%;
  max-height: 60vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
}
.charalist--3 .charalist__item .charalist__body {
  width: calc(60% - 20px);
}
.charalist--3 .charalist__item .charalist__body > :first-child {
  margin-top: 0;
}
.charalist--3 .charalist__item .charalist__body .charalist__name {
  font-size: clamp(2rem, 1.422rem + 2.37vw, 3.2rem);
}
.charalist--3 .charalist__item.show {
  display: flex;
}

/* スマホ */
@media screen and (max-width: 768px) {
  .charalist--3 .charalist__item {
    display: none;
  }
  .charalist--3 .charalist__item.flex .charalist__img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .charalist--3 .charalist__item.flex .charalist__img img {
    width: 100%;
    height: auto;
  }
  .charalist--3 .charalist__item.flex .charalist__body {
    width: 100%;
  }
}
/*－－－－－－－－－－ 漫画一覧 －－－－－－－－－－*/
.cardlist {
  container-type: inline-size;
}
.cardlist a {
  text-decoration: none;
}
.cardlist .cardlist__item {
  width: calc((100% - 60px) / 4);
}
.cardlist .cardlist__item a .cardlist__img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@container (max-width: 800px) {
  .cardlist .cardlist__item {
    width: calc((100% - 40px) / 3);
  }
}
@container (max-width: 600px) {
  .cardlist {
    gap: 10px;
  }
  .cardlist .cardlist__item {
    width: calc((100% - 20px) / 2);
  }
  .cardlist .cardlist__item a .cardlist__img {
    width: 100%;
    height: 140px;
  }
}
/*－－－－－－－－－－ 漫画のページ －－－－－－－－－－*/
.comicpage__main {
  background-color: #fff;
  padding: 60px;
  margin-bottom: 60px;
}
.comicpage__main img {
  margin: auto;
  margin-bottom: 20px;
}

/* スマホ */
@media screen and (max-width: 520px) {
  .comicpage__main {
    padding: 10px;
  }
}
.episodelist {
  margin: 40px 0;
  padding: 20px 40px;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

OFFLINE

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.off-list {
  gap: 60px;
  margin-bottom: 80px;
}

.storelist {
  gap: 10px;
  margin: 20px 0;
}

/* タブレット */
@media screen and (min-width: 769px) and (max-width: 1180px) {
  .off-list {
    gap: 20px;
  }
}